@media print {
  @page {
		margin: 0.50cm;
	}
  img {
		max-width: 500px;
	}
	body {
		font: 14pt 'Open Sans', sans-serif;
		line-height: 1.25em;
		margin:0;
		padding:0;
	}
	h1,h2,h3,h4,h5{
		font:16pt 'Open Sans', sans-serif;
	}
	p,
	.sidebar p  {
	  font-family: 'Quattrocento', serif;
	  font-weight: normal;
	  font-size: 13px;
	  line-height: 1.25em;
	  color: #565656;
	}
	a[href]:after {
    content: none !important;
  }
  h1 {
	font-size: 16pt;
	margin-top: 10px;
  margin-bottom: 5px;
	}
	
	h2 {
	font-size: 15pt;
	}
	h3 {
		font-size: 14pt;
	}
	.container{
		border: none;
	}
	.wrapper .container.header-wrap{
		-webkit-print-color-adjust: exact;
	}
	ul li {
		font-size: 14px;
		line-height: 1.20em;
	}
	.sidebar h2{
		font-size: 16px;
	}
	h2 + h3{
		margin-top: 0;
	}
	
	h1 + h2 {
		margin-top: 10px;
	}

	.hidden-print{
		display:none;
	}
	.visible-print{
		display:inline-block;
	}

	.sidebar h2 + h2{
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.container.header-wrap {
		height:185px;
		width:100%;
		z-index: 1;
		padding-left: 0;
		padding-right: 0;
		border:none;
	}
	.container.header-wrap #header{
		height:275px;
		float:none;
		width:890px;
		z-index: 300;
		position: relative;
		margin-left: 0px;
	}
	.container.header-wrap img.bg{
		width:100%;
		height:165px;
	}

	#header h1 {
		color:#fff!important;
		margin-top: 15px;
		}
	#header .contact h2 a{
		color:#fff !important; 
	}
	#content.container{
		z-index: 600;
	}
	/* Was intended to split job groupings by page but in 
		reality forced weird looking page breaks, better to 
		let it break naturally, me thinks... If you're reading 
		this and disagree please contact me to discuss. */
	/*
.section { 
   page-break-before: always; 
   page-break-inside: avoid;
	}
*/
/*better use like a clear */
	.print-break{
		page-break-after: always;
	}
	.content-column .print-break{
		height:75px;
		width:50px;
		display: block;
	}
	.sidebar .print-break{
		margin-top: 175px;
	}

	/* reset bootstap columns styles to print version */
	[class*="col-sm-8"] {
    float: left;
    width: 66.66666667%;
  }
  [class*="col-sm-4"] {
    float: left;
    width: 33.33333333%;
  }
  /* end reset of bootstrap styles */
  p + h2,
	ul + h2,
	ul + h1,
	p + h1,
	.section + h2  {
		margin-top: 15px;
	}
	
	h1 + h2 {
	  margin-top: 10px;
	}
	.sidebar h1:first-child + h2{
		margin-top: 5px;
	}
	
	h2 .date-right{
		margin-left: 10px;
		margin-top:3px;
	}
	
	.footer-wrap{
	  page-break-after: always; 
		page-break-inside: avoid;
		}
	
	.wrapper .container.footer-wrap{
		-webkit-print-color-adjust: exact;
	}
	
	.container.footer-wrap{
		width:100%;
		height:189px;
		z-index: 1;
	}
	
	.container.footer-wrap #footer{
		height:189px;
		width:100%;
		z-index: 300;
		position:relative;
		float:none;
		margin-left: 0;
	}
	.container.footer-wrap #footer .footer-contact-info{
		margin-left:0;
		padding-left: 0;
		position:absolute;
		width:45%;
		top:65px;
		left:0;

	}
	.container.footer-wrap img.bg{
		width:100%;
		height:189px;
	}
		.footer .ffmm-crest {
		width:241px;
		height:204px;
		display:block;
		position:relative;
		margin:25px auto 15px auto;
	}
	.footer .ffmm-crest img{
		margin:0 auto;
		position:relative;
		
	}
	
	.footer .footer .contact-info {
		margin-top: 90px;
    text-align: right;
    margin-right: 75px;
	}
	.container.footer-wrap #footer .disclaimer-text{
		margin-top:0;
	}

	.container.footer-wrap #footer .portfolio-info{
		margin-left:0;
		padding-left: 0;
		position:absolute;
		width:28%;
		top:65px;
		right:12%;
		display: block;

		/* This one matters to move it... */
	}
	#footer h1,
	#footer .disclaimer-text p,
	#footer .portfolio-info,
	#footer .contact-info,
	#footer .contact-info h2,
	#footer .contact-info a {
		color:#fff!important;
		text-decoration: none;
	}
	#footer .disclaimer-text p a{
		color:#76c043!important;
		text-decoration: none;
	}
	.footer .contact-info {
	  margin-top: 0px;
	  text-align: right;
	  margin-right: 15px;
	}
	#footer .contact h1 a{
		color:#fff !important; 
	}

}
