body{
	color:#262626;
}
h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 15px;
	text-transform: uppercase;
	padding-top:0;
}
h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 22px;
	color:#000;
	margin-bottom: 0;

}
h3{
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 10px;
	color:#565656;
}
p{
	font-family: 'Quattrocento', serif;
	font-weight: normal;
	font-size: 16px;
	color:#565656;
}
ul li{
	font-family: 'Quattrocento', serif;
	font-weight: normal;
	font-size: 15px;
	color:#565656;
}
a{
	color:#34719e;
	text-decoration: none;
}
a:hover{
	-moz-transition: color 1s;
   -webkit-transition: color 1s;
   -o-transition: color 1s;
   transition: color 1s; 
	color:#fb5b07;
	text-decoration: none;
}
h1 a{
	padding: 8px 0px 8px 0px;
	border-top:1px solid #bcbcbc;
	margin:2px;
	display:inline-block;
}
.container{
	border-right:1px solid #e6e6e6;
	border-left:1px solid #e6e6e6;
}
.container.header-wrap {
	display:block;
	height:190px;
	border-top:1px solid #e6e6e6;
	border-right:1px solid #e6e6e6;
	border-left:1px solid #e6e6e6;
	position:relative;
}

#header div{
	z-index: 900;
}

#header img {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:176px;
	z-index: 0;
}


.hidden-print{
	display:inline-block;
}
.visible-print{
	display:none;
}

#header .header-bg-mob {
	width:100%;
	height:100%;
	
}
.header {
	display:block;
	height:190px;
}

.navbar,
.navbar-default{
	background-image:none;
	background-color:transparent;
	border:none;
	box-shadow: none;
	position:absolute;
	top:15px;
	right:65px;
	z-index: 910;
}

.navbar-default .navbar-toggle{
	border:none;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color:#fff;
}

.navbar-default .navbar-toggle:hover .icon-bar{
	background-color:#888;
}


.navbar-default .navbar-collapse{
	background-color: rgba(171, 171, 171, 0.95);
	border-top:none;
}

.navbar-default .navbar-collapse{
	border-radius: 4px;
}

.navbar-default .navbar-nav>li>a{
	color:#fff;
}

.container-fluid>.navbar-header{
	margin-right: -55px;
}

.email-contact{
		margin-top:61px;
	}

h1 a,
h1 a:hover{
	color:#ccc;
	text-decoration: none;
	cursor:pointer;
}

h1 a:target{
	color: #fff;
	background-color: #fb5b07;
	font-weight: bold;
	padding-left: 12px;
	padding-right: 12px;
	margin-left: -12px;
	border-top:none;
	-moz-transition: all 0.5s;
   -webkit-transition: all 0.5s;
   -o-transition: all 0.5s;
   transition: all 0.5s;
}
#header h1{
	font-size:36px;
	color:#FFF;
	font-family: 'Quattrocento', serif;
	text-transform: capitalize;
	margin-top: 71px;
}

/* menu styles */

/* Important styles */
#toggle {
  display: block;
  width: 28px;
  height: 30px;
  margin: 30px auto 10px;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #fff;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
  -webkit-transform: rotate(45deg) translate(5px, 5px);
  -moz-transform: rotate(45deg) translate(5px, 5px);
  -ms-transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
  -webkit-transform: rotate(-45deg) translate(7px, -8px);
  -moz-transform: rotate(-45deg) translate(7px, -8px);
  -ms-transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menu {
  opacity: 1;
}

/* menu appearance*/
#menu {
  position: relative;
  color: #999;
  width: 200px;
  padding: 10px;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  border-radius: 4px;
  background: white;
  box-shadow: 0 1px 8px rgba(0,0,0,0.05);
  /* just for this demo */
  opacity: 0; 
  transition: opacity .4s;
}
#menu:after {
  position: absolute;
  top: -15px;
  left: 85px;
  content: "";
  display: block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
}
#menu ul, #menu li, #menu li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
#menu li a {
  padding: 5px;
  color: #888;
  text-decoration: none;
  transition: all .2s;
}
#menu li a:hover,
#menu li a:focus {
  background: #FB5B07;
  color: #fff;
}
#menu ul li.divider{
	border-bottom: 1px solid #FB5B07;
  margin-top: 10px;
  margin-bottom: 10px;
}
#menu ul li.divider + li a{
	color:#FB5B07;
}
#menu ul li.divider + li a:hover{
	color:#fff;
}
/* end menu styles */

.contact {
	/*margin-top: 87px;*/
	font-weight: normal;
}

.contact a{
	font-size: 20px;
	font-family: 'Quattrocento', serif;
	font-weight: normal;
	color:#fff;
}
.contact a:hover{
	color:#fb5b07;
	}

.location {
	font-variant: italic;
	font-weight: normal;
	font-size: 16px;
}

.location:before {
	content:"\00a0\2014\00a0";
	margin-right: 0.5em;
}

.date-right{
	display:inline;
	float:right;
	font-weight: normal;
}

h1 .date-right{
	font-size: 20px;
	margin-top: 3px;
}

h2 .date-right{
	font-size: 18px;
	margin-top: 5px;
}

h1 + h2{
	margin-top: 20px;
}

.sidebar h1:first-child + h2{
	margin-top: 25px;
}

p + h2,
ul + h2,
ul + h1,
p + h1,
.section + h2,
.print-break + h2 {
	margin-top: 45px;
}

p + h4 {
	margin-top: 15px;
}

h2 + ul{
	margin-top:10px; 
}

h3 em{
	font-size:75%;
	color:#565656;
}

/*
.email-contact{
		margin-top:64px;
	}
*/

.sidebar div{
	margin-top: 35px;
}

.sidebar div:first-child{
	margin-top: 0px;
}

.sidebar h2{
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
}

.sidebar p{
	font-size: 14px;
	color:#565656;
}

.sidebar h2 + p{
	margin-top: -5px;
}

.sidebar p + h2,
.sidebar ul + h2 {
	margin-top: 15px;
}

.sidebar .tagged-list{
	
}

.tag-list h2{
	float:left;
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: 400;
}


.tag-list ul {
	list-style: none;
	padding-left:0;
	margin-left: 0;
	margin-top: 20px;
}

.tag-list li {
	list-style: none;
	display: inline;
	float:left;
}

.tag-list li h2:after {
	content:"\002C";
	margin-right: .5em;
}	

.tag-list li:last-child h2:after{
	content:"";
}

.footer-wrap {
	display:block;
	height:190px;
	overflow:hidden;
	border-right:1px solid #e6e6e6;
	border-bottom:1px solid #e6e6e6;
	border-left:1px solid #e6e6e6;
}

.footer-wrap img.bg{
	position:absolute;
	top:0;
	left:0;
	z-index: 0;
}
.footer-wrap div{
	z-index: 900;
}

.footer{
	position:relative;
}

.footer h1{
	border:none;
}

.footer .contact-info{
	margin-top: 90px;
	text-align: right;
	margin-right: 75px;
}

.footer .disclaimer-text{
	margin-top: 88px;
	text-align: left;
	margin-left:65px;
}

.footer .contact-info h1,
.footer .contact-info h2,
.footer .disclaimer-text p{
	font-family: 'Quattrocento', serif;
	font-size: 14px;
	font-weight: normal;
	margin:0;
	padding:0;
	margin-bottom: 5px;
	color:#fff;
}

.footer a{
	color:#76c043;
}
.footer a:hover{
	color:#fb5b07;
}
.footer .ffmm-crest {
	width:241px;
	height:204px;
	display:block;
	position:absolute;
	margin:20px 0 0 -120px;
	left:50%;
}
.footer .ffmm-crest img{
	margin-top: 0px;
  margin-left: 0px;
}


@media (max-width:1024px){
	.contact {
		margin-top: 17px;
	}
	
}

@media (max-width:991px){
	.contact {
	}
	#header h1{
		margin-top: 25px;
	}
	.name {
		margin-top:46px;
	}
	h2 .date-right{
		font-size: 18px;
		margin-top: 7px;
	}
	#header img{
		width:100%;
	}
}

@media (max-width:767px){
		#header img{
		width:100%;
		height:150px;
	}

	.contact {
		margin-top: 32px;
		text-align: center;
	}
	.name {
		margin-top:30px;
		text-align: center;
	}
	.email-contact{
		margin-top:-44px;
		text-align: center;
	}
	.navbar, .navbar-default{
		top:0;
		right:0;
		left:0;
	}
	.footer .ffmm-crest{
		left:10px;
		margin-left: -55px;
	}
	.footer .footer-contact-info{
		display:none;
	}
	.footer .portfolio-info{
		margin-left: 140px;
	}
	.footer .disclaimer-text{
		vertical-align: middle;
    height: 100%;
    margin-left: 0px;
	}
	.container-fluid>.navbar-header{
		margin-left: -15px;
	}
}
@media (max-width:420px){
	.footer .disclaimer-text{
		margin-top: 70px;
	}
}