<div class="col-md-8">
		<h1>Professional Experience</h1>
		<h2>Miller Designworks <em class="location">Phoenixville, PA</em><div class="date-right">2007 - Present</div></h2>
		<h3>Interactive Director</h3>
		<p>Responsible for sales, management, and execution on web, apps, social, and interactive projects, while balancing client needs and requests over tight timelines. Clients include SunGard, LexisNexis, ING Clarion Real Estate Securities, CertainTeed Corporation, IMC Construction, EveryHome Reality, and Horizon Services.</p>
			<ul>
				<li>Lead entire project lifecycle: from initial sale/estimate, information architecture, user interface design, coding, development, production, testing, deployment, through training and support.</li>
				<li>Create custom designed responsive WordPress website themes, plugins, and widgets. </li>
				<li>iPad App project management, user interface design, information architecture, production, testing and quality assurance</li>
				<li>Establish, build, and maintain client relationships</li>
				<li>Primary technical sales resource for new business development</li>
				<li>Manage and coordinate our internal team to assign tasks and expedite projects</li>
				<li>Mentor<span> </span>team’s skills in design, development, new technologies &amp; project management</li>
			</ul>
			<h2>Tminus1 Creative Group <em class="location">Exton, PA</em><div class="date-right">2007</div></h2>
			<h3>Interactive Design &amp; Development</h3>
			<p>Designed and coded websites, emails, multimedia, and other interactive projects for clients including Agilent Technologies, Wharton School of Business, Dacor, &amp; TESI Environmental. </p>
			<ul>
				<li>Created email campaigns and landing pages</li>
				<li>Produced rich media ads for PointRoll and DoubleClick, responsible for delivery of weekly assets following provided media plan</li>
				<li>Built PHP websites and landing pages</li>
				<li>Designed illustrative scale 3D model display for trade shows</li>
			</ul>
			<h2>Boyd Tamney Cross Marketing <em class="location">Wayne, PA</em><div class="date-right">2005 - 2006</div></h2>
			<h3>Director of Multimedia</h3>
			<p>Led agency initiative to grow interactive media offerings. Responsible for technical sales, estimates, project management, development, and maintenance for all interactive projects. Clients included Sun &amp; Earth, Corporate Synergies, Hyatt Regency, and Stradley-Ronon.</p>
			<ul>
				<li>Built and maintained ASP and .NET websites, including custom coded e-commerce websites</li>
				<li>Managed and directed all interactive projects from the sale through delivery</li>
				<li>Functioned as sole technical sales resource</li>
				<li>Established, built, and maintained client relationships</li>
			</ul>
			<h2>IBM Corporation <em class="location">West Chester, PA</em><div class="date-right">1999 - 2005</div></h2>
			<h3>Sales Productivity Center, <em>Spherion Corp.</em></h3>
			<p>Collaborated with IBM executives and sales teams to create compelling customer deliverables. Managed and expedited a wide variety of concurrent requests that required a high level of creativity, ingenuity, and problem solving.</p>
			<h4>MultiMedia Services Team <div class="date-right">2003 - 2005</div></h4>
			<ul>
				<li>Developed high impact customer deliverables in Macromedia Flash</li>
				<li>Produced all aspects of projects; concept, design, animation, sound effects, and music</li>
				<li>Built and called upon existing client relationships to grow demand</li>
				<li>Achievements: Pioneered Education Forum, Selected for Technology Council, Business Vitality Team, mentored two high school seniors, and presented at TechiesDay 2004</li>
			</ul>
			<h4>West Chester Text &amp; Graphics Center - <em>Team Lead</em><div class="date-right">2001 - 2003</div></h4>
			<ul>
				<li>Managed workflow and implemented departmental directives, while balancing a large individual workload</li>
				<li>Selected as 1 of 6 accross the country, for the MultiMedia Team expansion initiative. First hired onto the team ahead of schedule</li>
				<li>Led internal skills training program in Pennsylvania; developed materials, curriculum, and trained peers</li>
			</ul>
			<h4>Text &amp; Graphics Operator <div class="date-right">1999 - 2001</div></h4>
			<ul>
				<li>Developed, polished, and produced a variety of customer deliverables</li>
			</ul>
			<h2>Freelance Work <em class="location">Firefly Multimedia, Malvern, PA</em><div class="date-right">2003-Present</div></h2>
			<ul>
				<li><a href="http://freedommassage.com" target="_blank">Freedommassage.com</a>: Website redesign and reorganization on a tight budget, including business cards and other deliverables. Helped this small business owner with an agressive strategy to grow her business and manage her own site</li>
				<li><a href="http://fralinger.org" target="_blank">Fralinger.org</a>: Redesigned Fralinger String Band’s website twice as well as design and execution of yearly thematic updates</li>
				<li><a href="http://savethemummers.com" target="_blank">Savethemummers.com</a>: Provided website and logo design, as well as WordPress CMS setup with custom theme to drive donations to help fund the yearly mummers parade</li>
				<li><a href="http://jimoram.com" target="_blank">Jimoram.com</a>: Designed and branded 2009 campaign for Easttown Township Supervisor: website, campaign collateral included buttons, yard signs, bumper magnets, palm cards, and business cards</li>
			</ul>
			<h1>Education</h1>
			<h2>Washington &amp; Lee University <em class="location">Lexington, VA</em><div class="date-right">1994 -1998</div></h2>
			<ul>
				<li>Bachelor of Science with Special Attainments in Commerce</li>
				<li>Major: Business Administration</li>
			</ul>
	</div>
		<div class="sidebar col-md-4">
			<h1>Professional Skills</h1>
			<h2>User Interface/ Experience</h2>
			<p>Expert in UI/UX design &amp; implementation based on user goals.</p>
			<h2>Infomation Architecture</h2>
			<p>Expert in designing content &amp; navigation scheme based on objectives for user engagement</p>
			<h2>WordPress &amp; PHP</h2>
			<p>Expert in design of custom themes, plugins, and advanced functionality on the WordPress core.</p>
			<h2>HTML &amp; CSS</h2>
			<p>Expert in hand-coded, clean, compliant cross-browser code, that that works on all modern browsers.</p>
			<h2>Responsive Web Design</h2>
			<p>Expert in creating mobile first sites the adapt for every user regardless of device.</p>
			<h1>Software Skills</h1>
			<h2>Adobe Photoshop</h2>
			<p>Expert in web layout, image manipulation, and retouching.</p>
			<h2>Adobe Illustrator</h2>
			<p>Expert in vector illustration, path manipulation, and symbolic representation.</p>
			<h2>Adobe InDesign</h2>
			<p>Experienced in page layout and style sheeting.</p>
			<h2>Microsoft Office</h2>
			<p>Expert in Word, Excel, &amp; PowerPoint. Working knowledge in Access.</p>
			<h1>Technical Experience</h1>
			<h2>HTML5, CSS3</h2>
			<p>Hand crafted simplicity. Browser efficiency.</p>
			<h2>WP Themes, Plugins, &amp; Widgets</h2>
			<p>Custom plugins, themes, &amp; widgets to enhance WordPress.</p>
			<h2>LAMP Server Architecture</h2>
			<p>Linux, Apache, mySQL, PHP</p>
			<h2>Responsive &amp; Mobile Websites</h2>
			<h2>iOS applications</h2>
			<h2>DNS Management</h2>
			<h2>Google Maps/Earth API</h2>
			<h2>Web Applications</h2>
			<h2>MS Visual Studio (.NET)</h2>
			<h2>Database Manipulation</h2>
			<h2>E-commerce framework</h2>
			<h2>Custom CMS’s</h2>
			<h2>Mac OS X Server</h2>
			<h2>Troubleshooting</h2>
			<p>Anything and everything.</h2>
			<h1>Hobbies &amp; Extracurricular</h2>
			<h2>Technology Enthusiast</h2>
			<h2>Apple iOS App Developer</h2>
			<h2>Father</h2>
			<h2>Runner</h2>
			<h2>Fly Fisher</h2>
			<h2>Outdoorsman</h2>
		</div>
		<footer id="footer">
			<div class="contact-info">
				<h1>J Marshall Oram</h1>
				<h2><a href="mailto:moram@fireflymm.com" target="_blank">moram@fireflymm.com</a></h2>
				<h2> 484.919.3053</h2>
			</div>
			<div class="disclaimer-text">
				<p>Portfolio samples and other musings available on <a href="http://fireflymm.com" target="_blank">fireflymm.com</a> References available upon request.</p>
			</div>
		</footer>
